<%= include('includes/top.tmpl') %>

    <div class="main ns_7255__interactive">
        <div class="ns_7255__intro">
            <h2>50 trusts</h2>
            <p>met the target of 95% patients seen in 4 hours at major A&amp;E Hospitals</p>
            <p class="ns_7255__cta">Interact with chart for more information</p>
            
        </div>
        <div class="ns_7255__ranking">
            <div class="ns_7255__chart"></div>
            <div class="ns_7255__key">
                <h2>Average attendance</h2>
                <span class="ns_7255__key--1stquarter">Less than 1,000</span>
                <span class="ns_7255__key--2ndquarter">1,000 - 1,499</span>
                <span class="ns_7255__key--3rdquarter">1,500 - 1,999</span>
                <span class="ns_7255__key--4thquarter">More than 2,000</span>
            </div>
            <p>*The figures are a weekly average and cover major A&amp;E departments from 4 November 2013 to 23 March 2014</p>
            <div class="ns_7255__tooltip"></div>
        </div>
    </div>

<%= include('includes/bottom.tmpl') %>