<div class="figures">
	<h2>Top 10 NHS hospital trusts</h2>
	<h3>Patients seen in 4 hours in A&E</h3>
	<table class="top-trusts">
		<thead>
			<tr>
				<td class="ordinal"></td>
				<td class="name">Trust name</td>
				<td class="attendance-average">Attendance average</td>
				<td class="percentage">4-hour avg (%)</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="ordinal">1</td>
				<td class="name">Chelsea And Westminster Hospital</td>
				<td class="attendance-average">2,177</td>
				<td class="percentage">98.1</td>
			</tr>
			<tr>
				<td class="ordinal">2</td>
				<td class="name">Alder Hey Children's</td>
				<td class="attendance-average">1,128</td>
				<td class="percentage">97.8</td>
			</tr>
			<tr>
				<td class="ordinal">3</td>
				<td class="name">Plymouth Hospitals</td>
				<td class="attendance-average">1,638</td>
				<td class="percentage">97.6</td>
			</tr>
			<tr>
				<td class="ordinal">4</td>
				<td class="name">Sheffield Children's</td>
				<td class="attendance-average">1,008</td>
				<td class="percentage">97.5</td>
			</tr>
			<tr>
				<td class="ordinal">5</td>
				<td class="name">Luton And Dunstable University Hospital</td>
				<td class="attendance-average">1,615</td>
				<td class="percentage">97.4</td>
			</tr>
			<tr>
				<td class="ordinal">6</td>
				<td class="name">Northumbria Healthcare</td>
				<td class="attendance-average">2,559</td>
				<td class="percentage">97.1</td>
			</tr>
			<tr>
				<td class="ordinal">7</td>
				<td class="name">George Eliot Hospital</td>
				<td class="attendance-average">1,210</td>
				<td class="percentage">96.9</td>
			</tr>
			<tr>
				<td class="ordinal">7</td>
				<td class="name">James Paget University Hospitals</td>
				<td class="attendance-average">1,213</td>
				<td class="percentage">96.9</td>
			</tr>
			<tr>
				<td class="ordinal">9</td>
				<td class="name">Birmingham Children's Hospital</td>
				<td class="attendance-average">1,026</td>
				<td class="percentage">96.8</td>
			</tr>
			<tr>
				<td class="ordinal">10</td>
				<td class="name">Ipswich Hospital</td>
				<td class="attendance-average">1,469</td>
				<td class="percentage">96.6</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="figures last">
	<h2>Bottom 10 NHS hospital trusts</h2>
	<h3>Patients seen in 4 hours in A&E</h3>
	<table class="bottom-trusts">
		<thead>
			<tr>
				<td class="ordinal"></td>
				<td class="name">Trust name</td>
				<td class="attendance-average">Attendance average</td>
				<td class="percentage">4-hour avg (%)</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="ordinal">1</td>
				<td class="name">University Hospitals Of Leicester</td>
				<td class="attendance-average">2,390</td>
				<td class="percentage">82.1</td>
			</tr>
			<tr>
				<td class="ordinal">2</td>
				<td class="name">King's College Hospital</td>
				<td class="attendance-average">3,919</td>
				<td class="percentage">84.2</td>
			</tr>
			<tr>
				<td class="ordinal">3</td>
				<td class="name">Portsmouth Hospitals</td>
				<td class="attendance-average">1,867</td>
				<td class="percentage">85.4</td>
			</tr>
			<tr>
				<td class="ordinal">4</td>
				<td class="name">University Hospital Of North Staffordshire</td>
				<td class="attendance-average">2,280</td>
				<td class="percentage">85.6</td>
			</tr>
			<tr>
				<td class="ordinal">5</td>
				<td class="name">Barking, Havering And Redbridge</td>
				<td class="attendance-average">3,858</td>
				<td class="percentage">85.7</td>
			</tr>
			<tr>
				<td class="ordinal">5</td>
				<td class="name">Mid Staffordshire</td>
				<td class="attendance-average">883</td>
				<td class="percentage">85.7</td>
			</tr>
			</tr>
			<tr>
				<td class="ordinal">7</td>
				<td class="name">Milton Keynes Hospital</td>
				<td class="attendance-average">1,466</td>
				<td class="percentage">86.3</td>
			</tr>
			<tr>
				<td class="ordinal">8</td>
				<td class="name">North West London Hospitals</td>
				<td class="attendance-average">1,940</td>
				<td class="percentage">86.4</td>
			</tr>
			<tr>
				<td class="ordinal">9</td>
				<td class="name">Northampton General Hospital</td>
				<td class="attendance-average">1,811</td>
				<td class="percentage">86.8</td>
			</tr>
			<tr>
				<td class="ordinal">9</td>
				<td class="name">University Hospital Southampton</td>
				<td class="attendance-average">1,744</td>
				<td class="percentage">86.8</td>
			</tr>
		</tbody>
	</table>
</div>